<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        BookHero
      </h1>
      <hr>
      <form action="/login" method="post">
        <div class="has-text-centered">
          <p>Welcome, {{ user }}!</p>
          </br>
          <table border="1" cellpadding="10" cellspacing="5">
            <td class="has-text-centered has-text-weight-bold">Title</td>
            <td class="has-text-centered has-text-weight-bold">Author</td>
            <td class="has-text-centered has-text-weight-bold">Publisher</td>
            <td class="has-text-centered has-text-weight-bold">ISBN</td>
            <td class="has-text-centered has-text-weight-bold">Genre</td>
            <td class="has-text-centered has-text-weight-bold">Price</td>
            <td class="has-text-centered has-text-weight-bold">Bookstore</td>
            <td class="has-text-centered has-text-weight-bold">Quantity Desired</td>
            <td class="has-text-centered has-text-weight-bold">Add to Cart</td>
            {% for item in data %}
              <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td><input class="input" type="text" placeholder="#"></td>
                <td><input class="button is-black" type="submit" value="Add to Cart"></td>
              </tr>
            {% endfor %}
        </div>
    </form>
    </div>
  </section>
  </body>
</html>